.prof-pic {
	padding-top:1em;
	padding-bottom:1em;
	max-width:100%;
}
.main-container {
	padding-top: 2em;
}
.carousel-indicators {
	position:relative;
	height:25px;
	bottom:0px;
}
.carousel-indicators li {
	background-color: #999;
	background-color: rgba(70,70,70,.25);
}

.carousel-indicators .active {
	background-color: #444;
}

.nav-tabs { border-bottom: 2px solid #DDD; font-size: 14px; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0;}
.tab-content{padding:15px;}

.icons a span {
    padding: 3px;
}

/* CARDS */
.lib-panel {
    margin-bottom: 20px;
}

.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-5 {
    padding: 0;
    background-color: #FFFFFF;
}

.lib-panel .lib-row {
    padding: 0 15px 0 15px;
}

.lib-panel .lib-row.lib-header {
    font-size: 16px;
    padding: 10px 15px 0 15px;
}

.lib-panel .lib-row.lib-subheader {
    font-style: italic;
    padding: 0px 15px 5px 15px;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}


.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}
